body{
  font-family: sans-serif;
  background-color: rgb(240, 242, 242);

}

.heading{
  text-align: center; 
}

.todo-page{
  overflow: scroll;
}

.heading,
.todo-page{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
}

.todo{
  display: flex;
  justify-content: center;
  margin: 1% 0% 0% 0%;
  flex-wrap: wrap;
}

#todo-title{
  width: 450px;
  height:34px;
  border-radius: 8px;
}

#create-button{
  margin: 0px 0px 0px 2px;
  cursor: pointer;
  border-radius: 8px;
  display: -webkit-box;
}

#todo-items{
  position: absolute;
  left:2.5%;
  width: 300px;
  top: 150px;
  background-color: rgb(208, 208, 208);
  border: 2px solid rgb(195, 239, 255);
  overflow: scroll;
  cursor: pointer;
  height:630px;
  border-radius: 8px;
}

.todo{
  margin-left: 30px;
  margin-right:45px ;
  font-weight: 500;
  line-height: 3;
  border-bottom: 1px solid rgb(195, 239, 255);
  cursor: pointer;
}
 
#todo-tasks{
  width: 1000px;
  height:630px;
  background-color: rgb(208, 210, 211);
  border: 2px solid rgb(195, 239, 255);
  position: absolute;
  right: 5%;
  top: 150px;
  overflow: scroll;  
  border-radius: 8px;
}

.subTask{
  margin-left: 250px;
  margin-right: 250px;  
  font-weight: 500;
  line-height: 3;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
  margin-bottom: 20px;
  display: -webkit-box
}
 
#subTask-title{
  width: 450px;
  height:34px;
}

.selected{
  background-color: rgb(230, 229, 229);
}

#delete-button{
  position: absolute;
  right: 5px;
  height: 40px;
  width: 40px;
  border: none;
  background-color:  rgb(208, 208, 208);
  cursor: pointer;
}

#clear-button{
  position: relative;
  background-color: rgb(208, 210, 211);
  border: none;
  left: 379px;
  top: 5px;
  cursor: pointer;
}