body{
  background-color: rgb(75, 72, 72);
  font-family: sans-serif;
}

.heading{
  text-align: center; 
  color: rgb(247, 245, 243);
}

.todo-page{
  height: 700px;
  overflow: scroll;
  border-radius: 1px;
}

.heading,
.todo-page{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  background-color: rgb(32, 31, 31);
  border-radius: 8px;
}

.todo{
  display: flex;
  justify-content: center;
  margin: 1% 0% 0% 0%;
  flex-wrap: wrap;
}

#todo-title{
  width: 450px;
  height:34px;
  border-radius: 8px;
}

#create-button{
  margin: 0px 0px 0px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#todo-items{
  position: absolute;
  left:2.5%;
  width: 300px;
  top: 150px;
  background-color: rgb(208, 208, 208);
  border-bottom: 1px solid black;
  overflow: scroll;
  cursor: pointer;
  height:630px;
  border-radius: 8px;
}

.todo{
  margin-left: 30px;
  margin-right:45px ;
  border-bottom: 1px solid rgb(147, 146, 146);
  font-weight: 500;
  line-height: 3;
}
 
#todo-tasks{
  width: 1000px;
  height:630px;
  background-color: rgb(208, 210, 211);
  position: absolute;
  right: 5%;
  top: 150px;
  overflow: scroll;  
  border-radius: 8px;
}

.subTask{
  margin-left: 250px;
  margin-right: 250px;  
  font-weight: 500;
  line-height: 3;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
  margin-bottom: 20px;
}
 
#subTask-title{
  width: 450px;
  height:34px;
}

.selected{
  background-color: rgb(230, 229, 229);
}

#delete-button{
  position: absolute;
  right: 5px;
  height: 40px;
  width: 40px;
  border: none;
  background-color:  rgb(208, 208, 208);
}

#clear-button{
  position: absolute;
  right: 255px;
  background-color:   rgb(208, 210, 211);
  border: none;
}