body{
  font-family: sans-serif;
  background-color: rgb(235, 235, 235);
  font-weight: 300; 
}

.heading{
  text-align: center; 
  font-weight: 100; 
}

.container{
  height: 700px;
  width: 100%;
  border: 1px solid black;
  display: flex;
}

.todo-container{
  overflow: scroll;
  width: 500px;
  height: 700px;
  border-right:1px solid black;
}

.subtask-container{
  overflow: scroll;
  width: 900px;
}

#todo-title,
#subTask-title{
  width: 450px;
  font-size: 20px;
  font-weight: 300;
}

#todo-title,
#create-button,
#subTask-title{
  margin-top: 3px;
  height:35px;
  border-radius: 8px;
  border: none;
}

.todo,
.subTask{
  font-weight: 100;
  font-size: 20px;
  line-height: 3;
  font-family: sans-serif;
  overflow: scroll;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title-box,
.subTask{
  margin-left: 200px;
  width: 500px;
}

.selected{
  background-color: rgb(230, 229, 229);
}
